<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
   http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 配置连接工厂 ：如果使用是linux，ip地址需要改....-->
    <rabbit:connection-factory id="connectionFactory" virtual-host="saas-bk"
                               host="127.0.0.1" port="5672" username="saas" password="saas"/>
    <!-- 定义mq管理 -->
    <rabbit:admin connection-factory="connectionFactory"/>

    <!--定义交换机（topic模式）-->
    <rabbit:topic-exchange id="springMailExchange" name="spring.mail.exchange"></rabbit:topic-exchange>

    <!-- 消息对象json转换类  将java对象转为》json字符串》二进制数组  -->
    <bean id="jsonMessageConverter"
          class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter"/>

    <!-- 定义模版 -->
    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"
                     exchange="spring.mail.exchange"
                     message-converter="jsonMessageConverter"/>

</beans>